body{
    font-family: "Gotham";
    color: #242424;

}

.logo{
    max-height: 60px;
}

header{
    background-color: white;
}


.nav-link{
    color: #7a7a7a ;
    font-family: "Gotham";
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    width: 120px;

}


.active{
    color: #0396aa ;
    font-family: "Gotham";
    font-weight: 600;
}

.nav-link:hover{
    color: #0396aa ;
    font-family: "Gotham";
}

.btnServ{
    background-color: #0396aa;
    border-radius: 40px;
    color: white;
    text-decoration: none;
    font-family: "Gotham";
    font-size: 12px;
    font-weight: 600;
}

.btnServ:hover{
    color: white;
    background-color: #035f6b;
}

.imgInicio{
    background: rgb(243,243,243);
    background: linear-gradient(0deg, rgba(243,243,243,1) 52%, rgba(255,255,255,1) 77%);
    min-height: 850px;
}

h1{
    font-family: "ElMessiri";
    font-size: 100px;
    color: #0396aa;
    line-height:90%;
}

h2{
    color: #0396aa;
    font-weight: bolder;
    font-size: 40px;

}

h3{
    font-family: "ElMessiri";
    font-size: 75px;

}

.boxDatos{
    margin-top: 55px;
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: -15px;
    margin-left: auto; 
    margin-right: auto; 
    background-color: white;
    border-radius: 38px;
    min-height: 180px;
}

.ojo{
    opacity: 80%;
}

.tarjDatos{
    margin: auto;
}

.tarjDatos a{
    text-decoration: none;
    color: #242424;
}

.medica, .medica1, .medica2{
    border-top: #0396aa solid 3px;
    font-size: 20px;
    padding-top: 25px;
    line-height: 24px;
    
}

#perfil{
    margin-bottom: 50px;
}
.servicios{
    background-color: #f5f5f5;
}

#servicios a{
    text-decoration: none;
    color: #0396aa;
}

.tarjServ img{
    opacity: 50%;
}
.tarjServ img:hover{
    transform: scale(1.1);
    opacity: 100%;

}

.datosContacto, .datosContacto a{
    background-image: url(../images/lateral_contact.png);
    background-repeat: no-repeat;
    height: 810px;
    color: white;
    text-decoration: none;
}

.itemsContacto{
    padding-top: 130px;
    font-size: 17px;
}

input[type=text],[type=textarea]{
    margin-top: 35px;
    border: none;
    border-radius: 0px;
    border-bottom: #acacac solid 1px;
    max-width: 400px;
    min-width: 100%;
    
}

.formulario{
    font-size: 15px;
    padding-top: 30px;

}

label{
    width: 80%;
}

#contacto{
    max-width: 100%;
}

.whatsapp {
    position:fixed;
    width:80px;
    height:80px;
    bottom:40px;
    right:40px;
    background-color:#035f6b;
    color:#FFF;
    border-radius:60px;
    text-align:center;
    font-size:38px;
    z-index:100;
    transition: 0.5s;

  }
  
  .whatsapp-icon {
    margin-top:20px;
  }

.whatsapp:hover{
    background-color: #0396aa;
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}


#servicios::before, #perfil::before, .contacto::before{ 
    display: block; 
    content: " "; 
    margin-top: -130px ;
    height: 130px; 
    visibility: hidden; 
    pointer-events: none;
  }




/* Tipografias */

@font-face {
    font-family: "ElMessiri";
    src: url("../font/ElMessiri-Regular.ttf");
}

@font-face {
    font-family: "Gotham";
    src: url("../font/GothamLight_0.ttf");
}


@font-face {
    font-family: "Gotham Bold";
    src: url("../font/GothamBold_0.ttf");
}

/* Para tablets */

@media  (max-width: 1000px) {
    
    header{
        padding-bottom: 0px !important;
    }

    .titulo{
        font-size: 70px;
        text-align: center !important;
    }

    .ojo{
        display: none !important;
    }

    .logo{
        margin-bottom: 10px;
    }

    .contBtn{
        padding: auto;
    }

    section.boxDatos{
        margin-top: 50px;
        position:initial;
  

    }

    #perfil{
        margin-top: 30px !important;
    }
    
    h3{
        font-size: 60px;
    }
}
/* Para mobile */

@media  (max-width: 540px) {
    

    .titulo{
        font-size: 50px;
        text-align: center !important;
    }


    
    .datosContacto, .datosContacto a{
        background-image: url(../images/lateral_contact.png);
        background-repeat: no-repeat;
        height: 610px;
        color: white;
        text-decoration: none;
    }

    .logoBlanco{
        padding-bottom: 20px;
        margin-top: 70px !important;
    }
}

@media all and (min-width: 992px) {
	.dropdown-menu{ display: none; }
	.dropdown-item :hover .dropdown-menu{ display: block; }
	.dropdown-item .dropdown-menu{ margin-top:0; }